<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.LCY.myapp.model.dao.CafeMapper">
	<select id="getCafeAll" resultType="com.LCY.myapp.model.dto.Cafe">
		select * from cafe order by cafe_code
	</select>

	<select id="cafeSearch" parameterType="String" resultType="com.LCY.myapp.model.dto.Cafe">
		select * from cafe where cafe_name like concat('%',#{cafe_name},'%')
	</select>
	<select id="cafeSearchById" parameterType="String" resultType="com.LCY.myapp.model.dto.Cafe">
		select * from cafe where cafe_code=#{cafe_code}
	</select>
	
	<insert id="insertCafe"	parameterType="com.LCY.myapp.model.dto.Cafe">
		insert into cafe (cafe_code, cafe_name, cafe_addr, cafe_tel, cafe_img)
		values (#{cafe_code}, #{cafe_name}, #{cafe_addr}, #{cafe_tel}, #{cafe_img})
	</insert>
	
	<delete id="deleteCafe" parameterType="String">
		delete from cafe where cafe_code = #{cafe_code}
	</delete>
	
	<update id="updateCafe" parameterType="com.LCY.myapp.model.dto.Cafe">
		UPDATE cafe 
		SET	
		cafe_name = #{cafe_name},
		cafe_addr = #{cafe_addr},
		cafe_tel = #{cafe_tel}
		WHERE
		cafe_code = #{cafe_code}
	</update>
	
	<update id="updateCafeStar">
		update cafe set cafe_star=#{cafe_star} where cafe_code=#{cafe_code}
	</update>
</mapper>